@keyframes animateHueRotate {

    0% {
        filter: hue-rotate(0deg);
    }

    33% {
        filter: hue-rotate(-100deg);
    }

    66% {
        filter: hue-rotate(80deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }


}