@keyframes animateHueRotate {

    0% {
        filter: hue-rotate(0deg);
    }

    33% {
        filter: hue-rotate(-100deg);
    }

    66% {
        filter: hue-rotate(80deg);
    }

    100% {
        filter: hue-rotate(0deg);
    }


}

@keyframes fadeInRightDelay {
    0% {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLong {
    0% {
        opacity: 0;

    }


    100% {
        opacity: 1;

    }
}

.delay-1 {animation-delay: 100ms;}
.delay-2 {animation-delay: 200ms;}
.delay-3 {animation-delay: 300ms;}
.delay-4 {animation-delay: 400ms;}
.delay-5 {animation-delay: 500ms;}
.delay-6 {animation-delay: 600ms;}

.fadeInRightDelay {
    animation-name: fadeInRightDelay;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
}



.fadeInLong {
    animation-name: fadeInLong;
    animation-duration: 2.75s;
    animation-delay: 1.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    opacity: 0;
}