.footer {
    padding: 1rem 0;
    background-color: #333;
    color: #f4f4f4;

    .row {
        text-align: center;
        margin-bottom: 2rem;

        .logo {
            position: relative;
            top: 6rem;
            font-family: 'Amsterdam', Arial, Helvetica, sans-serif;
            color: #fff;
            font-size: 2rem;
            letter-spacing: 5px;
            cursor: pointer;
            transition: all 0.2s;
    
            &:hover {
                color: #06affd;
            }
        }

        .footer-list {
            font-size: 1.4rem;
            border-top: 1px solid #777;
            padding-top: 1rem;
        }

        .footer-items {
            display: inline-block;
            padding: 0 1.5rem;
            
        }

        .footer-links {
            color: #f4f4f4;
            font-size: 1.4rem;
            transition: all 0.24s;
            cursor: pointer;

            &:hover {
                color: #06affd;
            }
        }

        .copyright {
            font-size: 1.2rem;
            margin-top: 5rem;
        }
    }

    .row-links {
        display: flex;
        justify-content: space-around;
    }
}