.header-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    width: 90%;
    z-index: 1;

    .lg-heading,
    .md-heading {
        text-shadow: 0 .6rem 1rem rgba(#000, 0.85);
        letter-spacing: 15px;
        line-height: 1.6;
    }

    .lg-heading {
        font-size: 6rem;
        font-weight: 900;
        
    }
    .md-heading {
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 10px;
    }

    h2 span { // controls typed.js text style
        color: #fff;
        // color: rgb(43, 255, 255);
        
    }

    .typed-cursor {
        //animation: blinkingCursor 1.05s infinite; //css causes some weird blurring issue with surrounding text
    }
}

.bg-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 1rem;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);  
}

.bg-video__content {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    animation: animateHueRotate 60s ease infinite;
    z-index: -1;
}
