// Laptops
@media only screen and (max-width: 1280px) {

    .main-nav {

        &-link {
            font-size: 1.4rem;
        }

    }

    .header-text-box {
    
        .lg-heading {
            font-size: 4.9rem;
            
        }
        .md-heading {
            font-size: 3rem;
        }
    }

    .about-me {

        &-text {
            margin-right: 7.5rem;

            .paragraph {
                max-width: 47rem;
            }
        }

        &-tech {

            position: relative;
            top: 2.5rem;

            img {
                width: 17.5rem;
            }

        }

        hr {width: 70%;}

    }

    .why-work-with-me {

        .why-work-container {
    
            & > *:not(:last-child) {
                margin-right: 5rem;
            }
    
        }

    }


}





// Ipad Pro
@media only screen and (max-width: 1024px) {


}






// Regular Ipad
@media only screen and (max-width: 768px) {


}






// Mobile
@media only screen and (max-width: 500px) {


}






// Small mobile
@media only screen and (max-width: 400px) {


}