$primary-blue: #1383db;
$primary-blue-2: #3d9ee7;

$secondary-blue: #3700ff;
$secondary-blue-2: #2d02ca;
$secondary-blue-3: #494cf3;

$light-blue: #6bbfff;
$light-blue-2: #98d2ff;
$light-blue-3: #e0f1ff;

$light-purple: #6769fd;
$light-purple-2: #9496ff;
$light-purple-3: #cbbfff;

$white-color: #fff;
$black-color: #000;